

<h1 ><p style="color:white;"><% @page_title = 'Staff Menu' -%></p></h1>
<html>
<head>
</head>
<body>
<!--
<ul class="menu">

	<li><%#= link_to('Manage Posts', :controller => 'posts') %></li>
	<li><%#= link_to('Manage Categories', :controller => 'categories') %></li>
	<li><%#= link_to('Manage Comments', :controller => 'comments') %></li>
	<li><%#= link_to('Manage Users', :controller => 'users') %></li>
	<li><%#= link_to('Logout', :action => 'logout') %></li>
</ul>

-->


<div id = "menu">
<div id="accordion">


<h4><a href="#">Manage Posts</a></h4>
					<div>
						<p>
					<li>
						<%= link_to('Manage Posts', :controller => 'posts') %></li> 
						<p>This is used to add,remove and update posts</p>
						</p>
					</div>

<h4><a href="#">Manage Categories</a></h4>
					<div>
						<p>
					<li><%= link_to('Manage Categories', :controller => 'categories') %></li>
					<p>This is used to add,remove and update catagories</p>
						</p>
					</div>

<h4><a href="#">Manage Comments</a></h4>
					<div>
						<p>
					<li><%= link_to('Manage Comments', :controller => 'comments') %></li>
						<p>This is used to add,remove and update comments</p>
						</p>
					</div>
<h4><a href="#">Manage Users</a></h4>
					<div>
						<p>
					<li><%= link_to('Manage Users', :controller => 'users') %></li>
						<p>This is used to add,remove and update Users</p>
						</p>
					</div>

<h4><a href="#">Logout</a></h4>
					<div>
						<p>
					<a href="logout"><%= image_tag("logout-button.jpg",:width => 200, :height => 100)%></a>
						</p>
					</div>					
</div><!--accordian closed-->
</div>

</body>
</html>

